body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.app-header {
  text-align: center;
  background-color: #fcdce2;
}

.bold-header {
  font-weight: bold;
  text-align: center;
}

.sign-in {
  font-weight: bold;
  font-size: 20px;
  color: #969696;
  text-align: center;
  margin: 10px;
}

.card .ant-card-body {
  padding: 0;
}

.login-header-background {
  background-color: #dad7d7;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  text-align: center;
}

.dropdown{
  text-align: center;
  width: 90%;
  margin: 10px;
}

.sign-in-button .ant-btn{
  text-align: center;
  width: 90%;
  margin: 10px 10px 10px 25px;
}

.tabs {
  width: 500px;
  text-align: center;
  border: #fcdce2 solid;
}

.tab-pane {
  border: #fcdce2 solid;
}

.question-card  .ant-card-body {
  padding: 0;
  margin: 25px;
  border: #fac4cf solid;
}

.question-header {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  color: #f695aa;
  padding: 5px;
  background-color: #fcdce2;
  border-bottom: #fac4cf solid;
}

.vl.ant-divider.ant-divider-vertical {
  border-left: solid #fac4cf;
  height: 120px;
  margin: 3px -3px;
  top: 0;
}

.question-text {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  color: #f695aa;
  padding: 5px;
}

 .ant-avatar.user-avatar.ant-avatar-image.ant-avatar-circle {
   width: 60px;
   height: 60px;
   margin: 10px;
}

 .view-poll-btn {
   text-align: center;
   width: 90%;
   margin: 10px;
 }

 .view-question-card .ant-card-body{
   padding: 0;
   margin: 25px;
   border: #fac4cf solid;
   text-align: center;
 }

 .question-options {
   text-align: left;
 }

.ant-card.answered-question-card.ant-card-bordered .ant-card-body{
  padding: 0;
  font-weight: bold;
  text-align: left;
  border: #f9f5fa thin;
 }

.answered-question-card-vl.ant-divider.ant-divider-vertical {
  border-left: solid #fac4cf;
  height: 270px;
  margin: 5px -5px;
  top: 0;
}
